{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% block title %}{% endblock title %}
		{% block style %}{% endblock style %}
		<style type="text/css" media="screen">
			
        @keyframes textAnim {
            0% {
                opacity: 0;
                transform: scale(.5);
            } 
            100% {
                opacity: 1;
                transform: scale(1.4);
            }
        }

        .text-anim {
            animation-name: textAnim;
            animation-duration: 3.5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
		</style>
		<link rel="stylesheet" href="{% static 'css/dist/styles2.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>

	<body class="bg-gray-100 font-sans leading-normal tracking-normal">
		

			<!-- Navbar -->
			<nav class=" p-4 pb-2 bg-gradient-to-br from-blue-200 to-white  border-solid border-blue-600">
        <div class="container mx-auto md:fle justify-betwee items-cente">
            <div class="text-center pl-10 md:pl-0 pt-1 pb-3">
                
                <div class="inline-block relative mx-auto text-center">
									<h1 class="text-2xl md:text-3xl lg:text-4xl font-black text-center text-navy tracking-wider px-2">Bluemoon Global Services <!--<span class="none md:inline">Limited</span>--></h1>
                    <div class="flex justify-center items-center italic font-serif text-sm md:text-base lg:text-lg font-semibold text-royal">
                        <span>Real Estate</span>
                        <span class="font-black text-base lg:text-xl not-italic inline-block mx-1 md:mx-2 text-navy">|</span>
                        <span>Investment</span>
                        <span class="font-black text-base lg:text-xl not-italic inline-block mx-1 md:mx-2 text-navy">|</span>
                        <span>Logistics</span>
                        <span class="font-black text-base lg:text-xl not-italic inline-block mx-1 md:mx-2 text-navy">|</span>
                        <span>Supplies</span>

                    </div>
                    <div class="absolute right-full -top-3 rounded-full z-30 w-max h-max ">
											<a href="/">
												<span class="inline-block rounded-full w-max h-max">
												<img src="{% static 'bmg_logo.png' %}" class="h-16 w-16 md:h-20 md:w-20 lg:h-20 lg:w-20 inline-block rounded-full" alt="">
												</span>
											</a></div>
                </div>

            </div>
						{% if user.is_authenticated %}
						<div class="text-center text-lg lg:text-xl  font-black pb-1 text-purple-600 flex justify-center space-x-6 flex-row">
							<p>WELCOME, {{ user.username }} </p>
							{% if user.is_staff %}
							<p class="text-center text-red-600">(
							<span><a href="/admin" class="underline underline-offset-2">Admin Panel</a></span>
							<!--<span><a href="/admin" class="underline underline-offset-2">Notifications</a></span>-->
							)</p>
							{% endif %}
						</div>
						{% endif %}
        </div>
    </nav>

        <nav class="sticky top-0 w-full z-50">
            <ul class="hidde flex space-x-3 md:space-x-10 lg:space-x-14 justify-center font-extrabold text-sm md:text-base lg:text-lg py-3 md:pt-3 bg-royal b-gradient-to-r from-navy to-royal" id="navs-list">
				<li class="{% if section == 'home' %}hidden{% endif %}"><a href="{% url 'bmg:home' %}" class="nav-item ">Home</a></li>
                <li class="{% if section == 'about' %}hidden{% endif %}"><a href="{% url 'bmg:about-us' %}" class="nav-item text-nowrap ">About Us</a></li>
                <li class="{% if section == 'contact' %}hidden{% endif %}"><a href="{% url 'bmg:contact' %}" class="nav-item text-nowrap">Contact Us</a></li>

								<!--<li class="{% if section == 'service' %}hidden{% endif %}"><a href="{% url 'bmg:services' %}" class="nav-item ">Services</a></li>-->
                <li class="{% if section == 'faqs' %}hidden{% endif %}"><a href="{% url 'bmg:faqs' %}" class="nav-item ">FAQs</a></li>
                <li class="{% if section == 'news' %}hidden{% endif %}"><a href="{% url 'bmg:news' %}" class="nav-item ">News</a></li>
								
                {% if not user.is_authenticated %}
                <li class="{% if section == 'login' %}hidden{% endif %}"><a href="{% url 'bmg:login-register' %}" class="nav-item {% if section == 'login' %}hidden{% endif %}">Login/Register</a></li>
                {% else %}
                <li><a href="{% url 'bmg:logout' %}" class="nav-item text-red-600">Logout</a></li>
                {% endif %}
            </ul>
        </nav>

		
			
			{% block content %}
			{% endblock content %}

		<div class="separator"></div>

			<!-- Contact Form -->
			<section class="container mx-auto pb-12">
				<h2 class="text-2xl md:text-3xl font-black text-center mb-6 text-green-600">Want to Make an Enquiry ?</h2>
				<form class="bg-white p-6 shadow-md rounded-lg max-w-lg mx-auto" action="{% url 'bmg:enquiry' %}" method="post">
					{% csrf_token %}
                    
                    {% if user.is_authenticated %}
										<div class="hidden">
										<input type="text" placeholder="Full Name" class="w-full p-2 border rounded mb-4" name="name" value="{{user.username}}">
										<input type="email" placeholder="Email Address" class="w-full p-2 border rounded mb-4" name="email" value="{{user.email}}">
										<input type="text" placeholder="Phone Number (optional)" class="w-full p-2 border rounded mb-4" name="number" value="{{user.phone_number}}">
											
										</div>
										{% else %}
                    <input type="text" placeholder="Full Name" class="w-full p-2 border rounded mb-4" name="name" value="" required>
                    <input type="email" placeholder="Email Address" class="w-full p-2 border rounded mb-4" name="email" required>
                    <input type="text" placeholder="Phone Number" class="w-full p-2 border rounded mb-4" name="number" required>
                    
                    {% endif %}
                        
                    <textarea placeholder="Please type your enquiry here ..." class="w-full p-2 border rounded mb-4" name="enquiry" required></textarea>
                    <button type="submit" class="bg-blue-600 text-white md:text-lg font-bold px-4 py-2 rounded w-full">Submit</button>
                </form>
			</section>


			<!-- Footer -->
			<footer class="bg-royal b-gradient-to-br from-blue-800 to-purple-800 text-white text-center py-12 px-4 mt-16">
					<p>Copyright &copy; 2025 Bluemoon Global Services Limited. All Rights Reserved.</p>
			</footer>

		</div>

	
		{% include "flash_message.html" %}
		{% block script %}
			
		{% endblock script %}
			
	</body>
</html>
