{% extends 'base2.html' %}
{% load static %}

{% block title %}
    <title>Bluemoon Global Services</title>
{% endblock title %}


{% block style %}
    <style>
        @keyframes carouselAnim {
            0% {
                opacity: 0.2;
								width: 0;
            } 
            100% {
                opacity: 1;
								width: 100%;
            }
        }

        @keyframes textAnim {
            0% {
                opacity: 0;
                transform: scale(.5);
            } 
            100% {
                opacity: 1;
                transform: scale(1.4);
            }
        }
        .carousel-image {
            display: none;
        }
        .carousel-image.active {
            display: block;
        }
        .carousel-image, .property-image {
            transition: width 1s;
        }
        .active {
            animation-name:carouselAnim;
            animation-duration: 2s;
            animation-timing-function: ease-in;

        }
        #motto {
            animation-name: textAnim;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    </style>  
{% endblock style %}


{% block content %}
    <!-- Hero Section with Background Image Carousel -->
    <div class="relative h-[400px] md:h-[500px] overflow-hidden">
        <div class="absolute inset-0 flex justify-center items-center bg-gray-700/40  text-white text-center p-6 z-40">
            <div class="text-4xl font-black text-anim" id="mot">
							<p>Building Dreams</p>
							<p class="py-3">And</p>
							<p>Creating Legacies</p>
						</div>
        </div>
        <div class="carousel relative h-full w-full text-right">
            <!-- <img src="{% static 'images/property1.jpg' %}" class="carousel-image absolute inset-0 w-full h-full object-cover active" alt="Property 1">
            <img src="{% static 'images/property2.jpg' %}" class="carousel-image absolute inset-0 w-full h-full object-cover" alt="Property 2">
            <img src="{% static 'images/property3.jpg' %}" class="carousel-image absolute inset-0 w-full h-full object-cover" alt="Property 3">
             --> 
            {% for display_image in display_images %}
            <img src="{{ display_image.image.url}}" class="carousel-image absolute inset-0 w-full h-full object-cover {% if forloop.first %}active{% endif %}" alt="{{ display_image.image}}">
            {% endfor %}
              
        </div>
    </div>

		<!-- Welcome Message -->
		<section class="container mx-auto text-center pt-12 ">

			<div class="flex flex-col justify-center px-3 font-black">
				<span class="inline-block text-purple-800 text-4xl md:text-5xl" id="">Welcome</span>
				<span class="inline-block text-purple-800 text-4xl md:text-5xl py-2">to</span>
				<span class="inline-block text-navy b-gradient-to-r from-blue-700 to-purple-700 b-clip-text tex-transparent text-2xl md:text-3xl">Bluemoon Global Services Limited</span>
			</div>
			<div class="text-center">
				<span class="inline-block rounded-full w-max h-max">
				<img src="{% static 'bmg_logo.png' %}" class="h-32 w-32 md:h-36 md:w-36 inline-block rounded-full" alt="">
				</span>
				
			</div>
		</section>
    <!-- What we do -->
    <section class="container mx-auto py-12">
			<!--<h2 class="text-3xl lg:text-4xl font-black text-center mb-6 text-blue-600">Who We Are</h2>-->
        <div class="px-4 lg:px-8">
            <div class="bg-royal b-gradient-to-br from-blue-800 to-purple-800 text-white text-lg md:text-xl p-5 shadow-lg rounded-lg">
                <p class="pb-2"><span class="font-black">Bluemoon Global Services Limited</span> is a diversified company committed to excellence, 
                    innovation, and reliability across multiple industries. With a strong foundation in real estate, 
                    investment, logistics, and supplies, we provide top-tier services that cater to the evolving needs of our clients.
                </p>
                <p>At <span class="font-black">Bluemoon Global Services Limited</span>, we are driven by our mission to build dreams, create legacies, and deliver 
                    exceptional value in every sector we operate in.
                </p>
            </div>
        </div>
        
    </section>

		<div class="separator"></div>
    
		<section class="container mx-auto px-4 lg:px-8">
        <h2 class="text-3xl lg:text-4xl font-black text-center mb-6"><span class="tex-grad-bp inline-block text-navy">What We Do</span></h2>
        <div class="grid lg:grid-cols-2 gap-6 md:gap-10 font-semibold text-lg md:text-xl">
					{% for service in services %}
					<div>
						<div class="h-56 md:h-64">
							<input type="hidden" value="{% cycle '1' '2' '3' '4' as val  %}" name="" id=""/>
							<img src="{% static 'bluemoon_images/img' %}{{val}}.jpg" alt="" class="w-full h-full object-cover"/>
						</div>
            <div class="bg-gradient-to-br text-royal p-6 shadow-lg rounded-b-lg flex space-x-4 {% cycle 'from-blue-100 to-white' 'from-white to-blue-100' %}">
							<div class="md:pt-1">								
								<span class="inline-block h-3 w-3 md:h-4 md:w-4 {% cycle 'bg-purple-600' 'bg-purple-600' %} rounded-full"></span> 
							</div>
							<div>
								<p class="font-black pb-4 text-xl md:text-2xl ">
								<span>{{service.title}} </span>
								</p>
							<div class="font-semibold text-navy/85">
								{{ service.details|safe }}
							</div>
								
							</div>
						</div>
						
					</div>
					{% endfor %}
    		</div>
    </section>

		<div class="separator"></div>

    <!-- Property Listings -->
    <section class="container mx-auto ">
        <h2 class="text-3xl md:text-4xl font-black text-center mb-6 text-navy">Available Properties</h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for property in avail_properties %}
                <div class="bg-white p-4 shadow-lg rounded-lg">
                    <div class="relative overflow-hidden">
                        <div class="property-carousel h-64 w-full relative text-center" id="p{{forloop.counter}}" value="3">
                          <input type="hidden" name="" value="1" id="curr-{{forloop.counter}}">
													<input type="hidden" name="" value="{{property.images.all.count}}" id="total-{{forloop.counter}}">
                            <button onclick="showCarousel('{{forloop.counter}}','prev')" value="0" id="prev-carousel-butt{{forloop.counter}}" class="absolute bg-blue-600/50 text-white px-3 py-2 left-6 top-1/2 z-40 -translate-y-1/2 hidden bg-opacity-50"><i  class="fa-solid fa-arrow-left px-2 text-xl"></i></button>
                            <button onclick="showCarousel('{{forloop.counter}}', 'next')" value="2" id="next-carousel-butt{{forloop.counter}}" class="absolute bg-blue-600/50 text-white px-3 py-2 right-6 top-1/2 -translate-y-1/2 z-40 bg-opacity-50"><i  class="fa-solid fa-arrow-right px-2 text-xl"></i></button>
                            {% for property_img in property.images.all %}
                                <img src="{{ property_img.image.url}}" class="property-image absolute inset-0 w-full h-full object-cover {% if forloop.first %}{% else %}hidden{% endif %}" alt="{{ property_img }}" id="img-{{forloop.parentloop.counter}}-{{forloop.counter}}">
                            {% endfor %}
                        </div>
                    </div>
                    <!-- <h3 class="text-xl font-semibold mt-4">{{ property.title }}</h3>
                    <p class="text-gray-600">{{ property.description|truncatewords:20 }}</p> -->
                    <h3 class="text-xl md:text-2xl font-bold mt-4"><span class="tex-grad-bp text-royal">{{property.title}}</span></h3>
                    <!-- <div class="text-navy/80 py-2 whitespace-pre-line text-base md:text-lg">{{property.details|safe}}</div> -->
										<div class="text-base md:text-lg font-bold text-navy ext-grad-bp py-3">
                    <p class="">Category : <span class="text-purple-900 inline-block ml-2">{{property.get_category_display}}</span></p>
                    <p class="">Status : <span class="text-purple-900 inline-block ml-2">{{property.get_status_display}}</span></p>
                    <p class="text-lg md:text-xl">Price : <span class="text-purple-900 inline-block ml-2">${{property.price|floatformat:"-3g"}}</span></p>
                    <p class="text-center text-green-600 text-lg md:text-xl font-semibold underline underline-offset-2 italic pb-3"><a href="{% url 'bmg:prop-details' property.id %}">View Details</a></p>
											
										</div>
                </div>
            {% endfor %}
        </div>
    </section>

		<div class="separator"></div>

    <!-- News Updates -->
    <section class="">
        <div class="container mx-auto">
            <h2 class="text-2xl md:text-3xl font-bold text-center mb-6 text-navy">Latest News</h2>
            <div class="grid lg:grid-cols-2 gap-8">
            {% for news in news_list %}
                <div class="bg-white p-4 shadow-md rounded-lg mb-4">
									<div class="flex space-x-3">
										<span class="relative top-2"><span class="circle-vary h-3 w-3 bg-purple-600"></span></span>
										<div>
											
                    <h3 class="text-lg md:text-xl font-bold text-royal pb-3">{{ news.title }}</h3>
                    <div class="text-navy/70 text-base md:text-lg whitespace-pre-line pb-1">{{news.details|truncatewords_html:30|safe}}</div>
                    <a href="/news" class="text-royal hover:underline md:text-lg font-semibold">Read More</a>
										</div>
									</div>
                </div>
            {% endfor %}
            </div>
        </div>

    </section>
{% endblock content %}



{% block script %}
    <script>
        // Hero Image Carousel
        let heroImages = document.querySelectorAll('.carousel-image');
        let index = 0;
        function toggleHeroImages() {
            heroImages[index].classList.remove('active');
            index = (index + 1) % heroImages.length;
            heroImages[index].classList.add('active');
        }
        setInterval(toggleHeroImages, 6000);

        // Property Image Carousel
        /*
        //document.addEventListener("DOMContentLoaded", function() {
          document.querySelectorAll('.property-carousel').forEach(carousel => {
              let images = carousel.querySelectorAll('.property-image');
              let i = 0;
              function togglePropertyImages() {
                  images[i].classList.remove('active');
                  //alert(i)
                  i = (i + 1) % images.length;
                  images[i].classList.add('active');
              }
              setInterval(togglePropertyImages, 4000);
          });
        //});*/

        function showCarousel(ind, which) {
          let parentCarousel = document.querySelector(`#total-${ind}`)
          let totalImages = parseInt(parentCarousel.value)
          let nextButt = document.querySelector(`#next-carousel-butt${ind}`)
          let prevButt = document.querySelector(`#prev-carousel-butt${ind}`)
          //let butt = event.currentTarget;
          let currImage = document.querySelector(`#curr-${ind}`)
          let currImageInd = currImage.value
					//alert(currImageInd)
					var targetInd;
					if (which == 'prev'){
						targetInd = parseInt(prevButt.value)
					}else {
						targetInd = parseInt(nextButt.value)
					}
          //let targetInd = parseInt(butt.value)
          let prevInd = targetInd - 1
          let nextInd = targetInd + 1 //< totalImages ? targetInd + 1:totalImages
          let targetImage = document.querySelector(`#img-${ind}-${targetInd}`)
					//alert(targetImage)
          let prevImage = document.querySelector(`#img-${ind}-${currImageInd}`)
          //targetImage.classList.add('active');
          //prevImage.classList.remove('active');
					targetImage.style.display = "block";
					prevImage.style.display = "none";

					//alert(1)
          nextButt.value = nextInd;
          prevButt.value = prevInd
          currImage.value = targetInd
					//alert(2)
          if (prevInd == 0 ) {
            prevButt.style.display = "none";
          }else{
            prevButt.style.display = "block";
          }
          if (nextInd == totalImages + 1 ) {
            nextButt.style.display = "none";
          }else{
            nextButt.style.display = "block";
          }
					//alert(3)
        }
    </script>
{% endblock script %}

