
{% extends 'base2.html' %}
{% load static %}

{% block title %}
    <title>About Us</title>
{% endblock title %}


{% block content %}
    <div class="">
        <p class="page-head-title">CONTACT US</p>
    </div>
    <section class="container mx-auto py-8">
			<div>
				<div class="px-4 text-center pb-6">
					<p class="text-2xl md:text-3xl text-green-600 font-black py-2">Interested in doing business with us ?</p>
					<p class="text-2xl md:text-3xl font-bold text-blue-600">Kindly contact us via any of the following avenues <span class="inline-block ml-3 text-purple-700"><i class="fa-solid fa-arrow-down"></i></span></p>
				</div>
				<div>
					<div class="">
						<p class="text-center py-1"><span class="font-black text-xl md:text-2xl text-grad-bp">Send Us an Email :</span> <!--<span><i class="fa-solid fa-arrow-down"></i></span>--></p>
						<a href="mailto:{{contact.email}}">
						<p class="flex justify-center space-x-3 items-center text-lg md:text-xl font-bold text-blue-800 max-w-max mx-auto">
							<span class="circle-vary w-10 h-10 bg-blue-800 border-purple-700 border-solid  rounded-full text-white text-2xl"><i class="fa-solid fa-envelope"></i></span>
						<span>{{contact.email}}</span>
						</p>
						</a>

					</div>

					<div class="py-8">
						<p class="text-center py-1"><span class="font-black text-xl md:text-2xl text-grad-bp">Call Us on Phone :</span> <!--<span><i class="fa-solid fa-arrow-down"></i></span>--></p>
						<a href="tel:{{contact.phone_number|cut:" "}}">
						<p class="flex justify-center space-x-3 items-center text-lg md:text-xl font-bold text-blue-800 max-w-max mx-auto">
							<span class="circle-vary w-10 h-10 bg-blue-800 border-purple-700 border-solid  rounded-full text-white text-2xl"><i class="fa-solid fa-phone"></i></span>
						<span>{{contact.phone_number}}</span>
						</p>
						</a>

					</div>

					<div class="">
						<p class="text-center py-1"><span class="font-black text-xl md:text-2xl text-grad-bp">Visit Our Office :</span> <!--<span><i class="fa-solid fa-arrow-down"></i></span>--></p>
						<a href="mailto:{{contact.email}}">
						<p class="flex justify-center space-x-3 items-center text-lg md:text-xl font-bold text-blue-800 max-w-max mx-auto">
							<span class="circle-vary w-10 h-10 bg-blue-800 border-purple-700 border-solid  rounded-full text-white text-2xl"><i class="fa-solid fa-location-dot"></i></span>
						<span>{{contact.email}}</span>
						</p>
						</a>

					</div>
				</div>
			</div>
    </section>


{% endblock content %}
